html,body {
  color: #333;
  font-family: sans-serif;
  background-color: #fff;
}

* {
  touch-action: none;     /* 阻止任何touch事件的默认行为,防止报错*/
  box-sizing: border-box;  
}
p,h3 {
  margin: 0;  /* 有默认上下边距 */
}
a {
  color: #333;
}